* {
  box-sizing: border-box;
}

body {
  background: #434343;
  color: #fff;
}

.container {
  margin: 30px auto;
  width: 300px;
  height: 500px;
  @inclue display();
  background: #3366ff;
  border-radius: 5px;
  box-shadow: 0 2px 4px black;
}

.container header {
  width: 300px;
  background: #3366ff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 5px 30px;
}

.container header .co {
  float: left;
  font-size: 20px;
  margin: 10px 0;
  font-weight: bold;
}

.container header .logo {
  width: 50px;
  padding: 10px 40px;
  float: right;
  border-radius: 3px;
}

.container section {
  width: 300px;
  background: #2d2d2d;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  text-align: center;
  padding: 1px;
}

.container section .form-group {
  margin: 10px;
}

.container section .form-group input, .container section .form-group button, .container section .form-group .form-option {
  border: 1px solid #fff;
  font-size: 14px;
  padding: 8px;
}

.container section .form-group .form-option {
  border-radius: 3px;
  margin: 0px;
  width: 100px;
  margin-bottom: 20px;
}

.container section .form-group .form-input {
  width: 100px;
  font-size: 14px;
  margin: 10px 0;
}
